<div class="top-list">
    <div class="ui vertical divider"></div>
    <div class="ui list">
        <div class="item">Men</div>
        <div class="item">Women</div>
        <div class="item">Boys</div>
        <div class="item">Girls</div>
    </div>
    <div class="side-button-1">
        <div class="ui divider"></div>
        <h4>CATEGORIES</h4>
        <div class="ui list">
            <div class="ui item checkbox">
                <input type="checkbox" name="shoe1">
                <label for="shoe1">Casual Shoes(22326)</label>
            </div>
            <div class="ui item  checkbox">
                <input type="checkbox" name="example">
                <label>Heels(9623)</label>
            </div>
            <div class="ui item checkbox">
                <input type="checkbox" name="example">
                <label>Flats(7509)</label>
            </div>
            <div class="ui item  checkbox">
                <input type="checkbox" name="example">
                <label>Sports Shoes(4723)</label>
            </div>
            <div class="ui  item checkbox">
                <input type="checkbox" name="example">
                <label>Formal Shoes(4723)</label>
            </div>
            <div class="ui  item checkbox">
                <input type="checkbox" name="example">
                <label>Sandals(71)</label>
            </div>
            <div class="ui item  checkbox">
                <input type="checkbox" name="example">
                <label>Flip Flops(56)</label>
            </div>
            <div class="ui item  checkbox">
                <input type="checkbox" name="example">
                <label>Sports Sandals(21)</label>
            </div>
            <div>-1 more</div>
        </div>
    </div>
    <div class="side-button-2">
        <div class="ui divider"></div>
        
            <div class="ui compact menu">
        
                <div class="ui simple dropdown item">
            
                    <h5>Categories</h5>
                    <div class="ui divider"></div>
                    <div class="menu">
                                <div class="ui item checkbox">
                                    <input type="checkbox" name="shoe1">
                                    <label for="shoe1">Casual Shoes(22326)</label>
                                </div>
                                <div class="ui item  checkbox">
                                    <input type="checkbox" name="example">
                                    <label>Heels(9623)</label>
                                </div>
                                <div class="ui item checkbox">
                                    <input type="checkbox" name="example">
                                    <label>Flats(7509)</label>
                                </div>
                                <div class="ui item  checkbox">
                                    <input type="checkbox" name="example">
                                    <label>Sports Shoes(4723)</label>
                                </div>
                                <div class="ui  item checkbox">
                                    <input type="checkbox" name="example">
                                    <label>Formal Shoes(4723)</label>
                                </div>
                                <div class="ui  item checkbox">
                                    <input type="checkbox" name="example">
                                    <label>Sandals(71)</label>
                                </div>
                                <div class="ui item  checkbox">
                                    <input type="checkbox" name="example">
                                    <label>Flip Flops(56)</label>
                                </div>
                                <div class="ui item  checkbox">
                                    <input type="checkbox" name="example">
                                    <label>Sports Sandals(21)</label>
                                </div>
                                <div>-1 more</div>
                    </div>
                </div>
            </div>
    </div>   
    <div class="ui divider"></div>
</div>