
.ui.secondary.menu .item {
    font-family:Whitney, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size:1.25rem;
    font-weight: bolder;
    padding:5px;
}

.ui.menu .item>img{
    width:8rem;
    height:60px;
    background-color: white;
}
.ui.input>input{
    background-color: #F5F5F6;
}
.ui.divider{
border-top: 3px solid  #F5F5F6!important;
border-bottom: 2px solid  #F5F5F6 !important;
}
.ui.secondary.menu .item:hover{
background-color: white;
}
.small-menu{
    display: none;
}
.ui .simple .dropdown .item>img{
    width:4rem;
    height:30px;
    background-color: white;
    padding:0;
}
.bars.icon{
    font-size: 2rem;
    padding-left: 5px;
}
.ui.menu .item:hover{
    background-color: white;
}
.sort-postition{
    position: absolute;
    margin-right: 30px;;
    right:0;
    top:0;
    margin-top: 10px;
  }

@media only screen and (min-width: 300px) and (max-width: 860px) {
.small-menu{
    display:block;
}
.ui.secondary.menu{
    display:none;
}

}