<div class="menu-display">
    <div class="ui secondary  menu">
        <a class="item">
          <img src="./assets/images/myntra.png">
        </a>
        <a routerLink="men" class="item">
          Men
        </a>
        <a routerLink="women"class="item">
          Women
        </a>
        <a routerLink="kids" class="item">
          Kids
        </a>
        <a routerLink="home&living"class="item">
          Home & Living
        </a>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search link icon"></i>
            </div>
          </div>
          <a class="ui item">
            <i class="user icon"></i>
          </a>
          <a class="ui item">
            <i class="shopping cart icon"></i>
          </a>
        </div>
    
  <div class="ui divider"></div>
  </div>

  <div class="small-menu">
   
    <div class="ui compact menu">
      
      <div class="ui simple dropdown item">

        <img src="./assets/images/myntra.png">
        <i class="bars icon"></i>
          <div class="menu">
            <a routerLink="men" class="item">
              Men
            </a>
            <a routerLink="women"class="item">
              Women
            </a>
            <a routerLink="kids" class="item">
              Kids
            </a>
            <a routerLink="home&living"class="item">
              Home & Living
            </a>
          </div>
      </div>
  </div>

</div>
  <router-outlet></router-outlet>