<div class="text-font">Home / Men / Shoe & Footwear</div>
<div class="ui grid">

    <app-side-bar class="four wide column "></app-side-bar>
    <div class="twelve wide column">
        <div class="men-header">
            <h1>Shoes & Footwear-51588 items</h1>
            <div class="sort-postition">
                <div class="ui compact menu">
                    <div class="ui simple dropdown item">
                        Sort by:
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item">Price</div>
                            <div class="item">Brand</div>
                            <div class="item">Popularity</div>
                            <div class="item">Fast Delivery</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve wide column">
            <div class="options">
                <div class="ui item">Bundles</div>
                <div class="ui item">offers</div>
            </div>
            <div class="ui divider"></div>
        </div>
        <div class="twelve wide column">
            <div class="ui four column grid">
                <div class="column">
                    <div class="ui fluid card">
                        <div class="image">
                            <img src="./assets/images/men-shoe1.jpeg">
                        </div>
                        <div class="content">
                            <a class="header">Kook N Keech</a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui fluid card">
                        <div class="image">
                            <img src="./assets/images/menshoe2.jpg">
                        </div>
                        <div class="content">
                            <a class="header">Nike</a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui fluid card">
                        <div class="image">
                            <img src="./assets/images/menshoe3.jpeg">
                        </div>
                        <div class="content">
                            <a class="header">Addidas</a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui fluid card">
                        <div class="image">
                            <img src="./assets/images/menshoe4.jpg">
                        </div>
                        <div class="content">
                            <a class="header">United Benetion</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</div>